@layout('layouts.main')

@section('title')
social-media
@endsection

@section('content')
  <h1>All Profiles</h1>

  @each(profile in profiles)
  <div class="profile-container">
    <div class="blank"></div>
    <div class="profile info-info">
      <h3>{{ profile.user_name }}</h3>
      <p>{{ profile.email }}</p>
      <p>{{ profile.location }}</p>
      <p>{{ profile.bio }}</p>
    </div>
  </div>
  @endeach
@endsection